.containerPlaces{
    background-color: rgb(242, 238, 241);
    margin: 0 auto;
    width: 50%;
    padding: 0 2% ;
    padding-bottom: 1%;
     color: rgb(196, 115, 182);;
    border-radius: 10px;
    border: ridge rgb(239, 212, 234);
    gap: 10px;

   
} 
.seusPontos{
     text-align: center;
}
.cardsPontos{
    display: flex;
    flex-wrap: wrap;
   

}.novoPonto{
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    width: 5%;
    height: 25px;
    gap: 2px;
    color: rgb(245, 240, 244);
    text-decoration: none;
    background-color:rgb(219, 130, 204); ;
}
.alinharBotao{
    display: flex;
    justify-content: flex-end;
    padding-right:3%;
}