.containerPonto{
    background-color: rgb(255, 249, 254);
    border: 2px solid rgb(223, 156, 212);
    display: flex;
    margin: 1%;
    padding: 20px;
    width: 250px;
    justify-content: space-between;
    border-radius: 5%;
   
}
.iconeTexto{
    display: flex;
    align-items: center;    
}
