.navbar{
    background-color: rgb(223, 156, 212);;
    color: aliceblue;
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.links{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.links a{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}